<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tu tworzymy bibliotekę i widzimy listę</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>

<h2>Lista tytułów</h2>

<table>
    <thead>
    <th>Tytuł</th>
    <th>Autor</th>
    <th>Rok wydania</th>
    <th>Opis</th>
    <th>Czy przeczytane?</th>
    </thead>
{% for book in books %}
    <tr>
        <td><a href="/books/{{ loop.index }}">{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.done }}</td>
    </tr>
{% endfor %}
</table>
<div>
    <h2> Dodaj nowy tytuł do biblioteki: </h2>
    <form method="POST" action="/books/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table><br>
        <input type="submit" value="Zapisz">
    </form>
</div>
</body>
</html>